{% extends "base.html" %}

{% block links %}
    {{ super() }}

{% endblock %}


{% block main %}
    {{ super() }}


	

  <main>

	<table>
		<thead>
			<th>Project</th>			
			<th>Initial product</th>			
			<th>Finit product</th>			
			<th>Cost coef</th>			
		</thead>
		<tbody>
			{% for p in projects %}
			 <tr>
				 <td><a href="/view/project/{{p.id}}">{{p.name}}</a></td>
				 <td>{{p.ininital_product.full_name}}</td>
				 <td>{{p.finit_product.full_name}}</td>
				 <td>{{p.cost_coef}}</td>
			 </tr>
			{% endfor %}
		</tbody>
	</table>		

	
  </main>

  <footer>
    <p>Concepts.</p>
  </footer>


	
{% endblock %}