{% extends "base.html" %}

{% block main %}
    {{ super() }}

	<h1 class="page-title">Node types</h1>

	<section class="data-section">
        <div class="section-title">Node types</div>
        <div class="table-container">

	<table>
		<thead>
			<th>Name</th>
			<th>Value</th>
			<th>Power</th>
			<th>CAPEX</th>
			<th>OPEX</th>

		</thead>
		<tbody>
			{% for nt in node_types %}
			<tr>
			  <td><a href="/view/node_type/{{nt.id}}">{{nt.full_name}}</a></td>
			  <td>{{nt.value}}</td>
			  <td>{{nt.power}}</td>
			  <td>{{nt.capex_cost}}</td>
		      <td>{{nt.opex_cost}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
        </div>
      </section>

{% endblock %}