{% extends "base.html" %}

{% block main %}
    {{ super() }}

	<h1 class="page-title">Products</h1>	
	
	
	<section class="data-section">
        <div class="section-title">Products</div>
        <div class="table-container">
	
	<table>
		<thead>
			<th>Name</th>
			<th>Out cost</th>			
		</thead>
		<tbody>
			{% for p in products %}
			<tr>
			  <td><a href="/view/product/{{p.id}}">{{p.full_name}}</a></td>
			  <td>{{p.out_cost}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
        </div>
      </section>

{% endblock %}