{% extends "base.html" %}

{% block links %}
    {{ super() }}
	<script src="https://cdn.plot.ly/plotly-3.3.1.min.js" charset="utf-8"></script>
{% endblock %}

{% block main %}
    {{ super() }}

	<h1 class="page-title">Project {{project.name}}</h1>

	<section class="metrics-grid">
	    <div class="card">
		    <div class="card-title">ininital product</div>
            <div class="card-value">
			    {% if project.ininital_product %}
				    <a href="/view/product/{{project.ininital_product.id}}">{{project.ininital_product.full_name}}</a>
				{% else %}
					<u>You can't calculate without initial product.</u>
				{% endif %}
			</div>
		</div>
		<div class="card">
			<div class="card-title">finit product</div>
			<div class="card-value">
				{% if project.finit_product %}
				<a href="/view/product/{{project.finit_product.id}}">{{project.finit_product.full_name}}</a>
				{% else %}
				-
			{% endif %}
			</div>	
		</div>
		<div class="card">
			<div class="card-title">power cost</div>
			<div class="card-value">{{project.power_cost}}</div>
		</div>
		<div class="card">
			<div class="card-title">cost coef</div>
			<div class="card-value">{{"{:_.2f}".format(project.cost_coef)}}</div>
		</div>
	</section>

	{% if project.lon and project.lat %}
	<h1 class="page-title">Map</h1>
	<div id='Map_Chart'></div>

<script>

const x = {{ project.lon }};   // longitude
const y = {{ project.lat }};   // latitude

const tracePoint = {
  type: 'scattergeo',
  lon: [x],
  lat: [y],
  mode: 'markers+text',
  marker: {
    size: 12,
    color: 'red',
    symbol: 'circle'
  },
  text: ['{{project.name}}'],
  textposition: 'top center'
};

const layout = {
  title: 'world',
  geo: {
    projection: { type: 'natural earth' },
    showland: true,
    landcolor: 'rgb(217, 217, 217)',
    showcountries: true,
    countrycolor: 'rgb(204,204,204)'
  },
  margin: { t: 40, r: 0, l: 0, b: 0 }
};

Plotly.newPlot('Map_Chart', [tracePoint], layout);

</script>
	{% endif %}
	
	<h1 class="page-title">Calculate</h1>
	<p>
	{% if can_calculate_flag %}
		<a class="rounded-btn" href="/view/project/{{project.id}}/calc" >Calculate project</a>
		<u>This will drops all of the previous calculations.</u>
	{% else %}
	    <button disabled="disabled">Calculate project</button>
		<u>You can't calculate without initial product.</u>
	{% endif %}
	</p>


	<h1 class="page-title">Models</h1>
	{% if project_models %}

      <section class="data-section">
        <div class="section-title">Model</div>
        <div class="table-container">

	<table>
	<thead>
		<th>Created</th>
		<th>Initial product</th>
		<th>Finit product</th>
		<th>Total capex</th>
		<th>Value</th>
		<th>Power</th>
		<th>reg_opex</th>
		<th>reg_income</th>
		<th>reg_power_cost</th>
		<th>Payback</th>
		<th>Bottleneck node</th>
	</thead>
	<tbody>
		{% for m in project_models %}
		<tr>
		  <td>
		  {% if m.id == view_model_id|int %}
	      <b>{{m.created_dt.strftime("%Y-%m-%d %H:%M:%S")}}</b>

		  {% else %}
		  <a href="/view/project/{{project.id}}/view_model/{{m.id}}">{{m.created_dt.strftime("%Y-%m-%d %H:%M:%S")}}</a>
		  {% endif %}
		  {% if m.tech_result > 0 %}
		      <mark>Error</mark>
		  {% endif %}

		  </td>
		  <td>{{m.ininital_product.full_name}}</td>
		  <td>{{m.finit_product.full_name}}</td>

		  <td style="text-align: right;">{{ "{:_.2f}".format(m.total_capex) }}</td>
		  <td style="text-align: right;">{{ "{:_.2f}".format(m.value) }}</td>
		  <td style="text-align: right;">{{ "{:_.2f}".format(m.power) }}</td>
		  <td style="text-align: right;">{{ "{:_.2f}".format(m.reg_opex ) }}</td>
		  <td style="text-align: right;">{{ "{:_.2f}".format(m.reg_income) }}</td>
		  <td style="text-align: right;">{{ "{:_.2f}".format(m.reg_power_cost) }}</td>
		  <td style="text-align: right;">{{ m.project_payback }}</td>
		  <td>{% if m.bottleneck_node %} {{ m.bottleneck_node.node_type.full_name }} {% endif %}</td>
		</tr>
		{% endfor %}
	</tbody>
	</table>
        </div>
	{% else %}
		<p>Doesn't calculated yet.<p>
	{% endif %}
      </section>

	{% if view_model_id %}
	<article>
	<h2>Detail for {{view_model.created_dt}} model</h2>
	{% if view_model.log %}
		<p>{{view_model.log}}</p>
	{% endif %}

	<h2>Nodes</h2>
	
      <section class="data-section">
        <div class="section-title">Nodes</div>
        <div class="table-container">
		
		<table>
		<thead>
			<th>Step</th>
			<th>Node type</th>
			<th>Count</th>
			<th>Value</th>
			<th>Power</th>
			<th>CAPEX</th>
			<th>OPEX</th>

		</thead>
		<tbody>
			{% for n in project_nodes %}
			<tr>
			  <td>{{n.step}}</td>
			  <td><a href="/view/node_type/{{n.node_type.id}}">{{n.node_type.full_name}}</a></td>
			  <td style="text-align: right;">{{ "{:_.2f}".format(n.equipent_count) }}</td>
			  <td style="text-align: right;">

			  {% if n == bottleneck_node %}
			      <mark>{{ "{:_.2f}".format(n.value) }} Flow bottleneck</mark>
			  {% else %}
			      {{ "{:_.2f}".format(n.value) }}
			  {% endif %}
			  </td>
			  <td style="text-align: right;">{{ "{:_.2f}".format(n.power)  }}</td>
			  <td style="text-align: right;">{{ "{:_.2f}".format( n.capex_cost ) }}</td>
			  <td style="text-align: right;">{{ "{:_.2f}".format(n.opex_cost) }} </td>

			</tr>
			{% endfor %}
		</tbody>
	</table>
      </section>
	  
	<div id='Node_Value_Chart'></div>
	<script>
var data_nv = [{type: 'funnel',

y: [
{% for n in project_nodes %}
"{{n.node_type.full_name}}",
{% endfor %}
],
x: [


{% for n in project_nodes %}
"{{n.value}}",
{% endfor %}
],

hoverinfo: 'x+percent previous+percent initial'}];

var layout_nv = {margin: {l: 150}, width:600, height: 500}
Plotly.newPlot('Node_Value_Chart', data_nv, layout_nv);

	</script>

	<h2>Cost</h2>	
	
      <section class="metrics-grid">
        <div class="card">
          <div class="card-title">capex</div>
          <div class="card-value">{{"{:_.2f}".format(total_capex)}}</div>
        </div>
        <div class="card">
          <div class="card-title">reg income</div>
          <div class="card-value">{{"{:_.2f}".format(reg_income)}}</div>
        </div>
        <div class="card">
          <div class="card-title">reg power cost</div>
          <div class="card-value">{{"{:_.2f}".format(reg_power_cost)}}</div>
        </div>
        <div class="card">
          <div class="card-title">reg opex (include power)</div>
          <div class="card-value">{{"{:_.2f}".format(reg_opex)}}</div>
        </div>
        <div class="card">
          <div class="card-title">bottleneck value</div>
          <div class="card-value">{{bottleneck_value}}</div>
        </div>
		{% if bottleneck_node %}		
        <div class="card">
          <div class="card-title">bottleneck node</div>
          <div class="card-value">{{bottleneck_node.node_type.full_name}}</div>
        </div>
		{% endif %}		
      </section>

      <section class="data-section">
        <div class="section-title">Balane</div>
        <div class="table-container">

	<h3>Project payback</h3>
	{% if project_payback > 0 %}
	    <p>Project paybeck is about <b>{{ project_payback }}</b> years.</p>
	{% else %}
		<mark>NEVER.</mark>
	{% endif %}
		<table>
		<thead>
			<th>Year</th>
			<th>Income</th>
			<th>Opex</th>
			<th>Balance</th>
		</thead>
		<tbody>

	{% for y in model_cashflow %}
			<tr>
			  <td>{{y.year}}</td>
			  <td style="text-align: right;">{{ "{:_.2f}".format(y.income) }}</td>
			  <td style="text-align: right;">{{ "{:_.2f}".format(y.opex) }}</td>
			  <td style="text-align: right;">{{ "{:_.2f}".format(y.balance) }}</td>
			</tr>
	{% endfor %}
		</tbody>
	</table>
	</div>
	</section>


<div id="Cash_Flow_Plot" style="width:100%;max-width:1000px"></div>

<script>
const xArray = [ {% for r in model_cashflow %} {{r.year}}, {% endfor %} ];
const yArray = [ {% for r in model_cashflow %} {{r.balance}}, {% endfor %} ];

// Define Data
const data_cf = [{
  x: xArray,
  y: yArray,
  mode:"lines"
}];

// Define Layout
const layout_cf = {
  xaxis: { title: "Years"},
  yaxis: { title: "Balance"},
  title: "Balance by years"
};

// Display using Plotly
Plotly.newPlot("Cash_Flow_Plot", data_cf, layout_cf);
</script>
	</article>

	{% endif %}


{% endblock %}